/*CSS FOR THE LOGIN AND REGISTER PAGE*/
.login-registration {
  width: 400px;
  height: 400px;
  margin: 200px auto;
  border: 5px solid gray;
  border-radius: 25px;
  padding: 20px;
}

.login-registration__nav {
  padding-bottom: 20px;
}
.login-registration__nav__label {
  padding: 10px 20px;
  font-weight: 700;
  margin: 0 45px;
  background-color: lightblue;
  border-radius: 10px;
}
.login-registration__nav__label:hover{
  cursor: pointer;
}
.login-registration__form {
  display: flex;
  flex-direction: column;
}

.login-registration__form__label {
  padding: 5px;
  margin: 0 5px;
}

.login-registration__form__input {
  padding: 5px;
  margin: 0 5px;
}

.login-registration__button {
  margin: 100px 150px;
  padding: 15px 20px;
}

/*CSS FOR THE SECOND PAGE, DISPLAYING ELEMENTS FROM THE API*/
.main__offers {
  width: 1225px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: stretch;
}

.offers__item {
  margin: 30px 7.5px;
  margin-bottom: 10px;
  width: 260px;
  position: relative;
  z-index: 0;
}

.offers__item__hover__heart {
  opacity: 1;
}

.offers__item__hover__description {
  opacity: 1;
  top: 297px;
}

.item__paragraph {
  line-height: 1.5;
  font-size: 14px;
  margin-bottom: 10px;
}

.item__price {
  font-size: 14px;
  display: block;
  margin-bottom: 10px;
  bottom: 0;
  left: 0;
}

.item__paragraph__brand {
  font-family: Verdana;
}

.item__img {
  width: 100%;
}

.item__heart-shape, .item__heart-full {
  position: absolute;
  padding: 5px;
  width: 27.5px;
  right: 10px;
  top: 291px;
  background: #fff;
  border-radius: 50%;
  z-index: 1;
}

.item__heart-full {
  opacity: 0;
  transition: opacity 200ms;
}

.item__img-description {
  width: 100%;
  padding: 5px 0;
  text-align: center;
  top: 309px;
  left: 0;
  background: #ffffffa1;
  z-index: 0;
  transition: opacity 200ms, top 200ms;
  font-weight: 700; 
}

.item__button {
  border: 1px solid black;
  border-radius: 20px;
}

/* 
  Media query 
*/

@media screen and (max-width: 1245px) {
  .main__offers {
      width: 900px;
  }
}

@media screen and (max-width: 915px) {
  .main__offers {
      width: 600px;
  }
}

@media screen and (max-width: 615px) {
  .main__offers {
      width: 350px;
  }
}

@media screen and (max-width: 400px) {
  .main__offers {
      width: 100%;
  }
}

/*CSS FOR THE POP UP WINDOW*/
.modal {
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: 	rgba(245,245,245, 0.6) /* color */
}

.container {
  background-color: 	rgb(245,245,245);
  width: 60%;
  margin: 0 20%;
  padding: 50px 0;
}
.modal-content {
  background-color: 	rgb(245,245,245);
  width: 80%;
  margin: 0 10%;
}

.close {
  background-color: rgb(192,192,192);
  float: right;
  font-size: 28px;
  font-weight: bold;
  padding: 2px 5px;
  border: 1px solid rgb(192,192,192);
  border-radius: 10px;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

/*SCROLL TO TOP BUTTON*/
.scroll-to-top {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: red;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 4px;
}

.scroll-top-top:hover {
  background-color: #555;
}